<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="./static/js/jquery-2.0.3.js"></script>
	<script type="text/javascript" src="./static/js/Chart.min.js"></script>

	<script src="./static/js/backbone.marionette/json2.js"></script>
	<script src="./static/js/backbone.marionette/underscore.js"></script>
	<script src="./static/js/backbone.marionette/backbone.js"></script>
	<script src="./static/js/backbone.marionette/backbone.marionette.js"></script>	

	
	

	<script type="text/javascript" src="./static/lib/client.js"></script>

	<link type="text/css" rel="stylesheet" href="./static/css/styles.css">
	<link type="text/css" rel="stylesheet" href="./static/css/datepicker.css">


	<link type="text/css" rel="stylesheet" href="./static/css/bootstrap.css">
	<script src="./static/js/bootstrap.js"></script>	

	<script src="./static/js/bootstrap-datepicker.js"></script>	

	<title>EOS</title>

	<script type="text/template" id="welcome-page-layout-template">
		<header>
		</header>
		<div id="content">
		</div>
		<footer>
		</footer>
	</script>

	<script type="text/template" id="welcome-page-header-template">
		WELCOME header
	</script>

	<script type="text/template" id="welcome-page-content-template">
		WELCOME content
	</script>

	<script type="text/template" id="welcome-page-footer-template">
		WELCOME footer
	</script>	

	<script type="text/template" id="login-page-layout-template">
		<header>
		</header>
		<div id="content">
		</div>
		<footer>
		</footer>
	</script>

	<script type="text/template" id="login-page-header-template">
		LOGIN header
	</script>

	<script type="text/template" id="login-page-content-template">
		<button>LOGIN</button>
	</script>

	<script type="text/template" id="login-page-footer-template">
		LOGIN footer
	</script>	

	<script type="text/template" id="app-page-layout-template">
		<header>
		</header>
		<div id="content">
		</div>
		<footer>
		</footer>
	</script>

	<script type="text/template" id="app-page-header-template">
		<h1 class="text-center">EOS</h1>
	</script>

	<script type="text/template" id="app-page-content-template">
		<div id="tab-selector">
		</div>
		<div id="tab">
		</div>
	</script>

	<script type="text/template" id="app-page-footer-template">
		<!--APP footer -->
	</script>	

	<script type="text/template" id="tabs-template">
		<ul class="nav nav-tabs nav-justified" id="tabsList">
		</ul>				
	</script>

	<script type="text/template" id="tab-template">
		<a><%= name %></a>
	</script>	
	
	<!-- TABBED PAGE TEMPLATES -->

	<script type="text/template" id="home-tab-layout">
		<div class="row">
			<div class="col-md-3">
				<div id="daemonList">
				</div>
			</div>
			<div class="col-md-6">
				<div id="daemonInfo">
				</div>			
			</div>
		</div>
	</script>

	<script type="text/template" id="history-tab-layout">
		<div class="row">
			<div class="col-md-3">
				<div id="daemonList">
				</div>
			</div>
			<div class="col-md-6">
		<div id="historyContent">
		</div>		
			</div>
		</div>		
	</script>

	<script type="text/template" id="alerts-tab-layout">
		<div id="daemonList">
		</div>
		<div id="instanceList">
		</div>
		<div id="alertList">
		</div>
	</script>

	<script type="text/template" id="user-tab-layout">
		<div>
			<h2>User List</h2>
			<p>User1</p>
			<p>User2</p>
			<p>User3</p>
		</div>
		<div>
			<h1>USER CONTENT</h1>
		</div>
	</script>

	<!-- DAEMON TEMPLATES -->

	<script type="text/template" id="daemons-list-template">
		<ul class="nav nav-pills nav-stacked">
		</ul>
	</script>

	<script type="text/template" id="daemon-item-template">
		<a><%= daemon_name %>: <%= daemon_state %></a>
	</script>

	<script type="text/template" id="daemon-list-template">
		<ul>
		</ul>
	</script>

	<script type="text/template" id="daemon-info-template">
		<h3>
			<%= daemon_name %> (<%= daemon_id %>)
		</h3>
		
		<div class="daemonState">
			State: <%= daemon_state %>
		</div>

		<div class="daemonAddress">
			Address: <%= daemon_address %>: <%= daemon_port %>
		</div>
		
		<div class="daemonPlatform">
			Platform: <%= daemon_platform %>
		</div>
		
		<div class="daemonParameters">
			<ul class="nav nav-pills">
				<% _.each(daemon_all_parameters, function(item) { %>
				<li <%= daemon_monitored_parameters.indexOf(item) > -1 ? "class=\"active\"" : "" %> >
					<a><%= item %></a>
				</li>
				<% }); %>
			</ul>
		</div>


		<div id="graphs">
			<div id="cpuGraph">
				<%
				chart = mon_charts.find(function(model) {
					if (model.get("type") == "cpu") {
						return model
					}
				})
				%>
				<%= chart.get("canvas").outerHTML%>
			</div>
				
			<div id="ramGraph">
				<%
				chart = mon_charts.find(function(model) {
					if (model.get("type") == "ram") {
						return model
					}
				})
				%>
				<%= chart.get("canvas").outerHTML%>
			</div>

			<div id="netGraph">
				<%
				chart = mon_charts.find(function(model) {
					if (model.get("type") == "net") {
						return model
					}
				})
				%>
				<%= chart.get("canvas").outerHTML%>
			</div>			
		</div>
	</script>	

	<script type="text/template" id="daemon-info-template-empty">
		<h3>
			There are no daemons
		</h3>
	</script>
	
	<!-- ALERT TEMPLATES -->
	
	<script type="text/template" id="alert-trigger-item-template">
		<div>
			<%= trigger_name %>
		</div>
	</script>
	
	<script type="text/template" id="alert-trigger-list-template">
		<ul>
		</ul>
	</script>
	
	<script type="text/template" id="alert-template">
		<div>
			<%= time %>: value is <%= value %>
		</div>
	</script>
	
	<script type="text/template" id="alert-list-template">
		<ul>
		</ul>
	</script>
	
	<!-- HISTORY TEMPLATES -->
	
	<script type="text/template" id="history-content-template">
		<h3>
			<%= daemon_name %> (<%= daemon_id %>)
		</h3>
		
		<div class="daemonState">
			State: <%= daemon_state %>
		</div>

		<div class="daemonAddress">
			Address: <%= daemon_address %>: <%= daemon_port %>
		</div>
		
		<div class="daemonPlatform">
			Platform: <%= daemon_platform %>
		</div>

		<input type="text" class="span2" value="" id="dp_start">
		<input type="text" class="span2" value="" id="dp_end">

		<button id="requestHistory"> Request </button>

		<select>
		  <option value="cpu">CPU</option>
		  <option value="ram">RAM</option>
		  <option value="net">Net</option>
		</select>


		<div id="history_graph">
		</div>
	</script>

	<script type="text/template" id="history-content-template-empty">
		<h3>
			There are no daemons
		</h3>
	</script>
	
	
	



</head>
<body>
	<div id="page">
<!-- 		<ul>
			<li><a href="#welcome">welcome</a></li>
			<li><a href="#login">login</a></li>
			<li><a href="#app">app</a></li>
		</ul> -->

		<div id="mainRegion">
			
		</div>
	</div>

</body>
</html>
