html, body {
	margin: 0px;
	padding: 0px;
}

#content {
}

#tabsOuterContainer {
	width: 100%;
	background: #bbbbbb;
}

#tabsInnerContainer {
	width: 100%;
	height: 100%;
}

#tabs ul {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	height: 100%
}

#tabs li {
	float:left;
	height: 100%;
	padding: 0px 5px;
}

.tabText {
	display:block;
	width:120px;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#999999;
	text-align:center;
	text-decoration:none;
	height: 100%;
	padding: 15px;
}

.tabText:hover {
	background-color:#333333;
}

.column1of2, .column2of2 {
	width: 32.3%;
	height: 500px;
	float: left;
	margin: 1%;
}

.column2of2 {
	width: 64.6%;
	margin-left: 0%;
}
