html, body {
	margin: 0px;
	padding: 0px;
}

#content {
}


#homeTabWrapper {
	width: 100%;
}

/*#daemonList {
	float: left;
	width: 20%;
	background: #d0d0d0;
}*/
	
/*#daemonList li {
	cursor: pointer;
	margin-bottom: 3px;
}

#daemonList li:hover {
	background: #f0f0f0;
}*/

/*#daemonList .activeDaemon {
	background: #999999;
}*/

/*#daemonInfo {
	float: right;
	width: 80%;
	background: #e0e0e0;
}*/

.daemonParameters li {
	cursor: pointer;
	margin-bottom: 3px;
}

.daemonParameters li.active {
	font-weight:bold;
}

.daemonParameters li:hover {
	background: #f0f0f0;
}

#alertList {
	float: right;
	width: 20%;
}

#instanceList {
	float: right;
	width: 60%;
}